
body{
    padding: 0px;
    margin: 0px;
}


/*header content flex section*/
header{
    display: flex;
    height: 15vh;
    width: 100%;
    background-color: rgb(177, 65, 65);
    border-bottom: 4px solid grey;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
}

div.logo{
float: left;
font-family: fantasy;
color: black;
font-size: 5vw;
height: 5vw;

}
div.menu {
float: right;
padding-right: 2vw;
padding-left: 2vw;
justify-content: center;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 2vw;
color: whitesmoke;
}
div.menu:hover{
    color: black; 
    
}
div.logo:hover{
    color: whitesmoke;
}

nav{
    align-self: flex-end;
    position: fixed;
    width: 12vw;
    border: 5px solid grey;
    background-color: rgb(177, 65, 65);
    text-align: center;
    margin-top: 1vh;
    margin-right: 1vw;
}

/*main content flex section*/
main{
    display: flex;
    flex-direction: column;
}

div.title{
    height: 20vh;
    background:black;
    width: 100%;
    align-items: center;
    text-align: center;
    color: whitesmoke;
    background-image: url(../images/tech3.jpg);
}
div.about{
    height: 85vh;
    border-top: 5px solid grey;
    background-color: whitesmoke;
    color: black;
    width: 100%;
    display: flex;
}
div.portfolio{
    height: 85vh;
    border-top: 5px solid grey;
    background-color: black;
    color: whitesmoke;
    width: 100%;
    display: flex;
}
div.experience{
    height: 85vh;
    border-top: 5px solid grey;
    background-color: whitesmoke;
    color: black;
    width: 100%;
    display: flex;
}
div.contact{
    height: 75vh;
    border-top: 5px solid grey;
    background-color: black;
    color: whitesmoke;
    width: 100%;
    display: flex;
}
div.offset{
    height: 15vh;
    width: 100%;
}


/*footer section*/
footer{
    display: flex;
    height: 10vh;
    background-color: rgb(177, 65, 65);
    border-top: 5px solid grey;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: whitesmoke;
    font-size: 2vw;
}



p{
    align-items: center;
}


h1{
font-size: 4vh;
}
h2{
font-size: 4vh;
padding-left: 3vw;
}
h3{
    font-size: 4vh;
}


button{
    background: none;
    border: none;
}


button:focus {outline:0;}