
body{
    padding: 0px;
    margin: 0px;
}


/*header content flex section*/
header{
    display: flex;
    height: 15vh;
    width: 100%;
    background-color: rgb(177, 65, 65);
    border-bottom: 5px solid grey;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: fixed;
}

div.logo{
float: left;
font-family: fantasy;
color: black;
font-size: 75px;
height: 100px;

}
div.menu {
float: right;
padding-right: 50px;
padding-left: 50px;
justify-content: center;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 20pt;
color: whitesmoke;
}
div.menu:hover{
    color: black; 
    
}
div.logo:hover{
    color: whitesmoke;
}




/*main content flex section*/
main{
    display: flex;
    flex-direction: column;
    padding-top: 15vh;
}

div.title{
    height: 20vh;
    background-color: black;
    width: 100%;
    align-items: center;
    text-align: center;
    color: whitesmoke;
}
div.about{
    height: 85vh;
    border-top: 5px solid grey;
    background-color: whitsmoke;
    width: 100%;
}
div.portfolio{
    height: 85vh;
    border-top: 5px solid grey;
    background-color: whitsmoke;
    width: 100%;
}
div.experience{
    height: 85vh;
    border-top: 5px solid grey;
    background-color: whitsmoke;
    width: 100%;
}
div.contact{
    height: 75vh;
    border-top: 5px solid grey;
    background-color: whitsmoke;
    width: 100%;
}



/*footer section*/
footer{
    display: flex;
    height: 10vh;
    background-color: rgb(177, 65, 65);
    border-top: 5px solid grey;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: whitesmoke;
    font-size: 20pt;
}



p{
    align-items: center;
}


h1{
font-size: 30pt;
}

h2{
font-size: 25pt;
padding-left: 50px;
}